page-profile {
  .toolbar {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .item-input {
    .label {
      color: $Hilti-red;
    }
  }

  .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: $Hilti-red;
    box-shadow: none;
  }

  .list .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: $secondary;
    box-shadow: inset 0 -1px 0 0 $secondary;
  }

  .card {
    margin: 0 0 5px 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
    background-color: $header-grey;
    box-shadow: none;

    .card-title {
      @extend .Header-Name;
    }

    h2 {
      @extend .Header-Detail;
    }
  }

  .profile-thumb {
    display: block;
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 120px;
    margin: 5px auto 0;
    text-align: center;
    background-color: $warm-grey;
    overflow: hidden;

    span {
      position: absolute;
      left: 10px;
      right: 10px;

      &.add-picture {
        top: 30px;

        @extend .Picture-Description;
      }

      &.edit-picture {
        @extend .Picture-Edit;

        bottom: 0;
        padding: 2px 0;
        background: url('../assets/img/opacity-bg.png') no-repeat center bottom;
      }
    }
  }

  .ion-ios-person-outline,
  .button,
  .profile-image {
    margin: 0 auto;
    display: block;
  }

  .profile-image {
    width: 96px;
    height: 96px;
    background-color: $secondary;
    border-radius: 96px;
    font-size: 90px;
    color: $Hilti-red;
    text-align: center;
  }

  .button {
    color: $Hilti-red;
    margin-bottom: 25px;
    font-size: 1.1rem;
  }
}